@import url(./reset.css);

@media screen and (max-width:1350px) {

    /* header */
    .header-wrapper {
        max-width: 1200px;
    }

    /* 麵包屑 */
    .guid-tour-bar-center {
        max-width: 1200px;
    }

    /* copyright */
    .copyright-text {
        max-width: 1200px;
    }
}

@media screen and (max-width:1200px) {

    /* header */
    .header-wrapper .logo {
        margin-left: 3vw;
    }
    .header-wrapper nav {
        margin-right: 3vw;
    }

    /* 麵包屑 */
    .guid-tour-bar-center {
        margin: 0 3vw;
    }

    /* 首頁-當月首推 */
    .recommend {
        padding-right: 3vw;
    }
    .recommend-product {
        padding-left: 3vw;
    }

    /* 商品資訊 */
    .wrapper-products{
        margin: 0 3vw;
    }


    /* 購物車 */
    .wrapper-cart{
        margin: 0 3vw;
    }

    /* 購物車2 */
    .wrapper-cart2{
        width: auto;
        margin: 0 3vw;
    }
    .wrapper-cart-contain{
        flex-direction: column;
    }
    .cart-check-profile, .cart-check-item{
        width: 100%;
    }
    .cart-login-notice2{
        margin-top: 30px;
    }

    /* 關於我們 */
    .about-banner h1{
        font-size: 56px;
    }
    .shop-info section{
        width: auto;
        margin: 0 3vw;
    }
    .about-info{
        padding: 40px 50px;
    }
    .about-info h2{
        font-size: 24px;
        letter-spacing: 1.6px;
        line-height: 40px;
    }
    .about-info p{
        margin: 20px 0;
    }
    .about-content::after{
        font-size: 28px;
    }

    /* 聯絡我們 */
    .contact-wrapper{
        width: auto;
        margin: 80px 3vw;
    }


    /* copyright */
    .copyright-text {
        margin: 0 3vw;
    }
}

@media screen and (max-width:1100px) {

    /* header */
    .header-wrapper .nav-large {
        display: none;
    }
    .header-wrapper nav.nav-small {
        display: inline-block;
    }

    /* 店家公告 */
    .post {
        max-width: 720px;
    }
    .post ul li a {
        width: 200px;
    }

    /* 精選類別 */
    .index-feature{
        max-width: 720px;
    }
    .index-feature ul li {
        width: 225px;
    }

    /* 會員專區 */
    .member-level-introduction{
        width: auto;
        margin: 0 3vw;
    }
    .member-level-introduction-center{
        column-gap: 30px;
    }

    /* 購物車 */
    .cart-order-info{
        flex-direction: column;
        gap: 30px;
    }
    .buy-info{
        margin-bottom: 30px;
    }
    .send-info{
        width: auto;
    }
    .buy-details{
        width: auto;
    }

    /* 聯絡我們 */
    .contact-wrapper{
        margin: 50px 3vw;
        flex-direction: column;
    }

}

@media screen and (max-width:1024px) {

    /* 首頁 bn */
    .swiper-wrapper {
        height: 40vh;
    }

    /* 首頁-當月首推 */
    .product-bottom {
        column-gap: 20px;
    }
    .product-bottom li {
        width: calc((100% - 40px) / 3);
    }

    /* 購物車2 */
    .cart-step-button{
        flex-direction: column;
    }
    .cart-step-button a{
        width: 100%;
    }

    /* 關於我們 */
    .about-banner h1{
        font-size: 40px;
    }
    .about-info{
        padding: 30px;
    }
    .about-info h2{
        font-size: 20px;
    }
    .about-content::after{
        font-size: 24px;
    }
    .about-info p{
        margin-bottom: 0;
    }

}

@media screen and (max-width:912px) {
    /* 首頁-當月首推 */
    /* .product-bottom>li>a {
        line-height: 1.6;
    } */
    /* .product-bottom-img:hover a{
        opacity: 0;
    }
    .product-bottom-img:hover span{
        opacity: 0;
    } */

    /* footer */
    .footer-text{
        flex-direction: column;
        margin: 40px auto;
    }
    .footer-info table:nth-of-type(1){
        width: 50%;
    }
    
    /* copyright */
    .copyright-text {
        flex-direction: column-reverse;
        gap: 20px;
        text-align: center;
        overflow: hidden;
    }
    .copyright-text-left {
        width: 100%;
        white-space: nowrap;
        position: relative;
        left: 0;
        overflow: hidden;
    }
    .copyright-text-left p{
        position: relative;
        top: 0;
        left: 0;
    }
    .copyright-text-left p:nth-of-type(1) {
        text-indent: 1rem;
    }
}

@media screen and (max-width:820px) {

    /* header */
    .header-wrapper .logo {
        flex: 0 1 260px;
    }
    .header-wrapper {
        padding: 10px 0;
    }
    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-size: 30px;
    }


    /* 會員專區 */
    .member-banner{
        height: 400px;
    }
    

    /* 首頁-當月首推 */
    .recommend-image img {
        width: 36vw;
    }
    .product-bottom {
        column-gap: 15px;
    }
    .product-bottom li {
        width: calc((100% - 30px) / 3);
    }

    /* 關於我們 */
    .shop-info>p{
        padding: 50px;
    }


}

@media screen and (max-width:768px) {

    /* 店家公告 */
    .post {
        max-width: 90vw;
        overflow: hidden;
    }
    .post ul {
        gap: 20px;
    }
    .post ul li{
        flex: 0 0 80%;
    }
    .post ul li a {
        width: 100%;
    }

    /* 首頁-當月首推 */
    .recommend {
        padding-right: 0;
    }
    .recommend-product {
        padding-right: 3vw;
        padding-top: 0;
        padding-bottom: 0;
    }
    .recommend-image {
        display: none;
    }
    .product-top {
        justify-content: center;
    }
    .product-top-large {
        display: none;
    }
    .product-top-small {
        display: block;
    }


    /* 精選類別 */
    .index-feature {
        max-width: 90vw;
        overflow: hidden;
    }
    .index-feature ul{
        gap: 20px;
        justify-content: flex-start;
    }
    .index-feature ul li {
        width: 100%;
    }

    .index-feature ul li a:nth-child(1) {
        width: 100%;
    }
    .index-feature ul li a img{
        width: 100%;
    }
    


    /* 商品資訊 */
    .selector{
        flex-direction: column;
        gap: 10px;
    }
    .selector li{
        flex-basis: auto;
    }
    .product-container li{
        flex-basis: calc((100% - 25px) / 2);
    }
    .product-container li p{
        font-size: 0.75rem;
    }
    .product-container li>a:nth-of-type(1){
        line-height: 1.4;
        font-size: 0.875rem;
    }
    .product-post{
        padding: 20px 0;
    }
    .product-container{
        padding: 20px 0;
        padding-bottom: 40px;
    }
    .pages{
        padding-bottom: 30px;
    }
    .pages ul li{
        width: 36px;
        height: 36px;
        line-height: 36px;
    }
    .pages ul li.current span{
        font-size: 0.875rem;
    }
    .pages ul li i{
        line-height: 36px;
    }
    

    /* 購物車 */
    .send-info-right{
        display: none;
    }
    .send-info-left, .send-info-right{
        width: auto;
        flex: 1 1 auto;
    }
    .send-info-left input, .send-info-left select{
        width: 100%;
    }
    .send-info h1 i{
        display: inline-block;
    }
    .buy-info table{
        display: none;
    }
    .buy-info p{
        display: none;
    }
    .cart-replace-table{
        display: block;
    }
    .buy-info h1 i{
        display: inline-block;
    }
    .cart-login-notice{
        flex-direction: column;
        padding-bottom: 1.2rem;
    }
    .cart-login-notice h1{
        width: 100%;
        text-align: center;
    }
    .cart-login-notice a{
        width: 100%;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 15px 20px;
    }

    /* 購物車2 */
    .wrapper-cart2-center{
        padding: 1rem;
    }
    .cart-check-item{
        padding: 1rem;
    }
    .cart-check-item table{
        white-space: inherit;
        line-height: 1.2;
    }
    .cart-login-notice2 h1{
        white-space: inherit;
        line-height: 1.2;
    }

    .cart-check-profile-a ul li:nth-of-type(1){
        flex-basis: 100%;
    }
    .cart-check-profile-a ul li:nth-of-type(2){
        flex-basis: 100%;
    }
    .cart-check-profile-b ul li:nth-of-type(1){
        flex-basis: 100%;
    }
    .cart-check-profile-b ul li:nth-of-type(2){
        flex-basis: 100%;
    }
    .cart-login-notice2{
        text-align: justify;
    }

    /* 會員專區 */
    .member-banner{
        height: 350px;
    }
    .member-banner h2{
        font-size: 30px;
    }
    .member-banner a{
        font-size: 14px;
    }
    .member-level-introduction h1{
        font-size: 30px;
    }

    /* 關於我們 */
    .about-banner{
        height: 360px;
    }
    .about-banner h1{
        font-size: 32px;
    }
    .shop-info>p{
        padding: 30px 20px;
    }
    .shop-info section{
        flex-direction: column-reverse;
        border-radius: 20px;
    }
    .shop-info section:nth-of-type(2){
        flex-direction: column-reverse;
    }
    .about-photo{
        border-radius: 20px 20px 0 0 ;
        flex-basis: 350px;
    }
    .about-content{
        margin: 30px 0;
    }


    /* footer */
    .footer-text{
        width: 80vw;
    }
    .footer-info table td{
        font-size: 0.8rem;
        white-space: nowrap;
    }

    /* copyright */
    .copyright-text{
        max-width: 90vw;
    }
    .copyright-text{
        text-align: left;
    }
    .copyright-text-left p:nth-of-type(1) {
        text-indent: 0;
    }


}



@media screen and (max-width:540px) {
    /* 首頁-當月首推 */
    .product-bottom>li>a{
        line-height: 1.4;
        font-size: 0.875rem;
    }
    .product-bottom>li>p{
        font-size: 0.75rem;
    }
    /* 精選類別 */
    .index-feature ul li a{
        font-size: 0.875rem;
    }

    /* login */
    .center{
        padding: 32px 3vw;
    }
    .login-box{
        width: 100%;
    }
    .form-box{
        width: 90%;
    }
    .form-box form button{
        width: 100%;
    }
    .not-member a{
        width: 100%;
    }
    /* 商品資訊 */
    .product-container{
        column-gap: 20px;
    }
    .product-container li{
        flex-basis: calc((100% - 20px) / 2);
    }

    /* 購物車 */
    .cart-login-notice h1{
        font-size: 1rem;
    }
    .cart-login-notice a{
        font-size: 0.875rem;
    }
    /* 購物車2 */
    .cart-check-profile h2{
        font-size: 20px;
    }
    .cart-check-profile ul li{
        font-size: 14px;
    }
    .cart-check-item h2{
        margin-bottom: 20px;
    }
    .cart-check-item h2,.cart-login-notice2 h1{
        font-size: 20px;
    }
    .cart-check-item table{
        font-size: 14px;
    }
    .cart-check-item thead th{
        padding-bottom: 20px;
    }
    


    /* 會員專區 */
    .member-banner{
        height: 300px;
    }
    .member-banner h2{
        font-size: 24px;
    }
    .member-level-introduction h1{
        font-size: 24px;
    }
    .cardIntro h3{
        font-size: 20px;
    }

    /* 關於我們 */
    .about-banner{
        height: 300px;
    }
    .about-photo{
        flex-basis: 260px;
    }
    .shop-info>p{
        font-size: 12px;
    }
    .about-content{
        height: 240px;
    }
    .about-content::after{
        line-height: 240px;
    }
    .about-info{
        padding: 20px;
    }
    .about-info p{
        font-size: 14px;
    }
    .about-info h2{
        text-align: justify;
    }

    /* 聯絡我們 */
    .contact-table{
        width: auto;
        margin: 0 3vw;
    }
}


@media screen and (max-width:430px) {

    /* header */
    .header-wrapper {
        flex-wrap: nowrap;
        padding: 8px 0;
    }
    .header-wrapper .logo {
        flex: 0 1 170px;
    }
    .header-wrapper input {
        height: 24px;
    }
    .header-wrapper nav ul li {
        margin-left: 30px;
    }

    /* 首頁 bn */
    .swiper-wrapper {
        height: 28vh;
    }
    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-size: 24px;
    }
    .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
    }

    /* 麵包屑 */
    .guid-tour-bar {
        height: 40px;
    }

    /* 店家公告 */
    .post h1 {
        font-size: 32px;
    }

    /* 首頁-當月首推 */
    .product-bottom {
        justify-content: space-between;
    }
    .product-bottom li {
        width: calc((100% - 20px) / 2);
    }

    /* 會員專區 */
    .member-banner{
        height: 250px;
    }

    /* 關於我們 */
    .about-banner{
        height: 240px;
    }
    .about-content{
        height: 200px;
    }
    .about-content::after{
        line-height: 200px;
    }

}