@import url(./reset.css);

@media screen and (max-width:1350px) {
    /* header */
    .header-wrapper{
        max-width: 1200px;
    }
}

@media screen and (max-width:1200px) {
    /* header */
    .header-wrapper .logo{
        margin-left: 3vw;
    }
    .header-wrapper nav{
        margin-right: 3vw;
    }
}

@media screen and (max-width:1100px) {
    /* header */
    .header-wrapper .nav-large {
        display: none;
    }
    .header-wrapper nav.nav-small{
        display: inline-block;
    }
}



@media screen and (max-width:820px) {

    /* header */
    .header-wrapper .logo{
        flex: 0 1 260px;
    }
    .header-wrapper{
        padding: 10px 0;
    }
    /* 首頁 bn */
    .swiper-wrapper{
        height: 40vh;
    }




    /* 會員專區 */
    .member-level-introduction-center{
        column-gap: 50px;
        justify-content: center;
    }
    .swiper-button-next:after, .swiper-button-prev:after{
        font-size: 30px;
    }
    

}


@media screen and (max-width:430px) {

    /* header */
    .header-wrapper{
        flex-wrap: nowrap;
        padding: 8px 0;
    }
    .header-wrapper .logo{
        flex: 0 1 170px;
    }
    .header-wrapper input{
        height: 24px;
    }
    .header-wrapper nav ul li{
        margin-left: 20px;
    }
    nav ul li i {
        font-size: 1rem;
    }

    /* 首頁 bn */
    .swiper-wrapper{
        height: 28vh;
    }
    .swiper-button-next:after, .swiper-button-prev:after{
        font-size: 24px;
    }
    .swiper-pagination-bullet{
        width: 6px;
        height: 6px;
    }

}
