@import url(./reset.css);

a{
    text-decoration: none;
}

*{
    font-family: Arial, 'Times New Roman', 'Noto Sans TC';
    letter-spacing: 1px;
}

/* ----- header ---- */
header{
    width: 100%;
    background-color: #F9F7F3;
    box-shadow: 0 3px 6px rgb(203, 203, 203);
    position: sticky;
    top: 0;
    z-index: 50;
}

.header-wrapper{
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* outline: 1px solid red;  */  /* 最後刪除 */
    font-size: 0;
    padding: 10px 0;
}

.header-wrapper .logo{
    flex:0 1 300px;
}
.header-wrapper .logo img{
    width: 100%;
}

/* .header-wrapper .search-bar{
    position: relative;
    width: 240px;
}
.header-wrapper input{
    box-sizing: border-box;
    width: 100%;
    height: 36px;
    outline: none;
    border: 1px solid #0C2557;
    border-radius: 3px;
    padding: 0 18% 0 8%;
}
.search-bar img{
    width: 10%;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
} */

/* Nav */
.header-wrapper nav{
    display: flex;
}
.header-wrapper nav ul {
    flex: 1 1 auto;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 1rem;
    /* border: 1px solid #333; */   /* 最後刪除 */
}
.header-wrapper nav ul li{
    margin-left: 50px;  /* 原先是 20 */
    position: relative;
    cursor: pointer;
}
.header-wrapper nav ul li:hover{
    color: #D6C4A5;
}
.header-wrapper nav ul li a{
    text-decoration: none;
    color: #0C2557;
}
.header-wrapper nav ul li:hover a{
    color: #D6C4A5;
}
.header-wrapper nav ul li:hover span{
    background-color: #D6C4A5;
    color: #0C2557;
}
nav ul li i{
    font-size: 1.5rem;
}
nav ul li span{
    font-size: 14px;
    color: #fff;
    text-align: center;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 99rem;
    background-color: #0C2557;
    position: absolute;
    top: -6px;
    right: -6px;
}

.header-wrapper nav.nav-small{
    display: none;
}
nav.nav-small i{
    color: #0C2557;
}
/* 縮小後的清單 */
.nav-list{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    font-size: 1rem;
    color: #0C2557;
    display: none;
}
/* 遮罩 */
.nav-list .nav-cover{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}
/* 清單本體 */
.nav-list .menu-wrapper{
    width: 80vw;
    height: 100vh;
    background-color: #fdfdfd;
    position: absolute;
    left: -80vw;
    top: 0;
    z-index: 5;
}
/* 清單頭部 */
.menu-wrapper .menu-header{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e4e4e4;
}
.menu-header a{
    width: 60%;
}
.menu-header a img{
    width: 100%;
}
.menu-header i{
    font-size: 2rem;
}
/* 清單核心 */
.nav-list .menu-wrapper ul{
    flex-direction: column;
}
.nav-list .menu-wrapper ul li{
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid #e4e4e4;
    margin-left: 0;
}
.menu-wrapper ul li a{
    box-sizing: border-box;
    width: 100%;
    padding: 1.5rem;
    display: block;
}

/* ----- center ---- */
main{
    background-color: #0C2557;
    overflow: hidden;
}
/* 位置指標 */
.guid-tour-bar{
    width: 100%;
    height: 40px;
    background-color: #D6C4A5;
    
    /* padding-left: 5vw; */
}
.guid-tour-bar-center{
    max-width: 1320px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.guid-tour-bar-center>a,.guid-tour-bar-center>img{
    display: block;
    color: #0C2557;
    margin-right: 40px;
}
.guid-tour-bar-center>a:last-child{
    color: #1863DD;
}

/* 回到最上 */
.toTop{
    position: fixed;
    bottom: 8vh;
    right: 3vw;
    z-index: 5;
    width: 70px;
    height: 70px;
    border-radius: 99rem;
    text-align: center;
    background-color: #fff;
    opacity: .7;
    transition: all .1s ease;
    cursor: pointer;
    display: none;
}
.toTop i{
    line-height: 70px;
    font-size: 30px;
    color: #0C2557;
}
.toTop:hover{
    opacity: 1;
}


/* ----- footer ---- */
footer{
    background-color: #D6C4A5;
    color: #0C2557;
}
.footer-info{
    border-bottom: 1px solid #666;
    overflow: hidden;
}
.footer-text{
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin: 60px auto;
}
.footer-info table{
    width: 45%;
    line-height: 24px;
}
.footer-info table a{
    color: #0C2557;
}
.footer-info table thead tr th{
    font-weight: bold;
    text-align: left;
    font-size: 20px;
}

.copyright{
    background-color: #F9F7F3;
    color: #0C2557;
    overflow: hidden;
    font-size: 14px;
    padding: 1rem 0;
}
.copyright-text{
    max-width: 1320px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-account{
    font-size: 0;
}
.social-account a{
    width: 30px;
    display: inline-block;
    padding-right: 10px;
}
.social-account a img{
    width: 100%;
}


/* ---------------- index ----------------*/
main {
    background-color: #0C2557;
    overflow: hidden;
}
.swiper-wrapper{
    width: 100%;
    height: 70vh;
}
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide{
    width: 100%;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img{
    width: 100%;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
:root {
    --swiper-theme-color: #D6C4A5;
}

/* 滑鼠移到上方時停止輪播 */
/* .index-banner:hover{
    animation-play-state: paused;
} */
/* 替換banner圖 */
/* @keyframes changeBN {
    0%, 30%{
        background: url('../img/banner1.jpg') center center;
        background-size: cover;
    }
    31%, 60% {
        background: url('../img/banner2.jpg') center center;
        background-size: cover;
    }
    61%, 100%{
        background: url('../img/banner3.jpg') center center;
        background-size: cover;
    }
} */

/* 店家公告 */
.post{
    max-width: 960px;
    margin: 0 auto;
}
.post h1{
    font-size: 36px;
    color: #D6C4A5;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}
.post ul{
    display: flex;
    justify-content: space-between;
}
.post ul li a{
    display: block;
    width: 250px;
}
.post ul li img{
    width: 100%;
    display: block;
}
.post>a{
    text-decoration: none;
    font-size: 20px;
    color: #D6C4A5;
    display: block;
    width: 110px;
    margin: 0px auto;
    padding: 25px 0;
    cursor: pointer;
    text-align: center;
}
.post a i{
    margin-left: 5px;
}
.post a:hover{
    color: #1863DD;
}

/* 當月推薦 */
.recommend{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 32px;
}
/* 左圖 */
.recommend-image img{
    width: 39vw;
    height: 100%;
    object-fit: cover;
}
/* 右圖文 */
.recommend-product{
    flex-grow: 1;
    padding-left: 32px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.product-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 30px;
}
.product-top h1{
    font-size: 36px;
    color: #D6C4A5;
    font-weight: bold;
}
.product-top a{
    color: #D6C4A5;
}
.product-top a i{
    margin-left: 5px;
}
.product-top a:hover{
    color: #1863DD;
}
.product-top-small{
    display: none;
    color: #D6C4A5;
    font-size: 20px;
    width: 110px;
    margin: 0px auto;
    padding: 25px 0;
    cursor: pointer;
    text-align: center;
}
.product-bottom{
    display: flex;
    flex-wrap: wrap;

    row-gap: 20px;
    column-gap: 25px;
    justify-content: flex-start;
}
.product-bottom li{
    width: calc((100% - 50px) / 3);
    box-sizing: border-box;
    text-align: center;
    color: #D6C4A5;
    margin-bottom: 10px;
}
.product-bottom-img{
    position: relative;
    border-radius: 7px;
}

.product-bottom-img img{
    width: 100%;
    border-radius: 7px;
}
.product-bottom-img a{
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    top: 0;
    left: 0;
    transition: all .1s ease-in;
    opacity: 0;
    border-radius: 7px;
}
.product-bottom-img span{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    background-color: #9E8966;
    color: #fff;
    transition: all .1s ease-in;
    opacity: 0;
    border-radius: 0 0 7px 7px;
}
.product-bottom-img:hover a{
    opacity: 1;
}
.product-bottom-img:hover span{
    opacity: 1;
}
.product-bottom>li>a{
    display: block;
    color: #D6C4A5;
    padding: 15px 0;
}
.product-bottom>li>a:hover{
    color: #1863DD;
}


/* 精選類別 */
.index-feature{
    padding-bottom: 50px;
}
.index-feature h1{
    font-size: 36px;
    color: #D6C4A5;
    font-weight: bold;
    text-align: center;
}
.index-feature ul{
    max-width: 960px;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.index-feature ul li{
    width: 285px;
    text-align: center;
}
.index-feature ul li a img{
    width: 100%;
    opacity: 1;
    transition: all .2s ease-in;
}
.index-feature ul li a{
    display: block;
    color: #D6C4A5;
    overflow: hidden;
}
.index-feature ul li a:nth-child(1):hover img{
    transform: scale(1.1);
    opacity: .8;
}

.index-feature ul li a:nth-child(1){
    margin-bottom: 25px;
}
.index-feature ul li a:hover{
    color: #1863DD;
}

/* 最新消息 */
.index-newInfo{
    padding-top: 50px;
    padding-bottom: 60px;
}
.index-newInfo h1{
    font-size: 36px;
    color: #D6C4A5;
    font-weight: bold;
    text-align: center;
    margin-bottom: 35px;
}
.index-newInfo .subs{
    width: 800px;
    margin: 0 auto;
}
.subs input{
    width: 270px;
    height: 48px;
    outline: none;
    border: 1px solid #D6C4A5;
    border-radius: 3px;
    padding-left: 15px;
    box-sizing: border-box;
    background-color: transparent;
    margin-right: 30px;
    color: #fff;
    letter-spacing: 1px;
}
.subs input::placeholder{
    font-size: 16px;
    color: #D6C4A5;
}
.subs button{
    width: 170px;
    height: 48px;
    outline: none;
    border: 1px solid transparent;
    background-color: #D6C4A5;
    color: #0C2557;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    transition: all .2s ease;
    cursor: pointer;
}
.subs button:hover{
    background-color: #F9F7F3;
}


/* ---------------- login ----------------*/

.center{
    padding: 32px 0;
}
.login-box{
    width: 520px;
    background-color: #fff;
    margin: 0 auto;
    border: 3px solid #D6C4A5;
    border-radius: 50px;
    padding: 30px 0;
    box-sizing: border-box;
}
.form-box{
    width: 420px;
    margin: 0 auto;
    color: #0C2557;
}
.login-box h1{
    font-size: 36px;
    font-weight: bold;
    line-height: 60px;
}
.form-box form>div{
    border-bottom: 1px solid #999;
    margin-top: 10px;
    margin-bottom: 15px;
}
.form-box form .password{
    position: relative;
}
.form-box form>div>label{
    color: red;
    display: none;
    font-size: 14px;
}
.form-box form>div>input{
    display: block;
    width: 360px;
    height: 45px;
    outline: none;
    border: 0px solid transparent;
    padding-left: 20px;
    box-sizing: border-box;
    box-sizing: border-box;
}
.form-box form input::placeholder{
    color: #1C93FF;
}
.form-box form .forget{
    color: #1C93FF;
    display: inline-block;
    line-height: 55px;
    text-indent: 20px;
    font-size: 14px;
}
.form-box form .forget:hover{
    text-decoration: underline;
    color: #0C2557;
}
.form-box form button{
    width: 420px;
    height: 48px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #0C2557;
    border: 0px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: all .1s .1s linear;
}
.form-box form button:hover{
    background-color: #1C93FF;
    color: #0C2557;
}

/* password 的 icon */
.humbleicons--eye-close.show {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M3 10a13.4 13.4 0 0 0 3 2.685M21 10a13.4 13.4 0 0 1-3 2.685m-8 1.624L9.5 16.5m.5-2.19a10.6 10.6 0 0 0 4 0m-4 0a11.3 11.3 0 0 1-4-1.625m8 1.624l.5 2.191m-.5-2.19a11.3 11.3 0 0 0 4-1.625m0 0l1.5 1.815M6 12.685L4.5 14.5'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
}
.humbleicons--eye-close{
    display: none;
}
.humbleicons--eye-close:hover{
    color: #1C93FF;
}
.mage--eye{
    display: none;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'%3E%3Cpath d='M2.899 12.735a1.87 1.87 0 0 1 0-1.47c.808-1.92 2.1-3.535 3.716-4.647S10.103 4.945 12 5.004c1.897-.059 3.768.502 5.385 1.614s2.908 2.727 3.716 4.647a1.87 1.87 0 0 1 0 1.47c-.808 1.92-2.1 3.535-3.716 4.647S13.897 19.055 12 18.996c-1.897.059-3.768-.502-5.385-1.614S3.707 14.655 2.9 12.735'/%3E%3Cpath d='M12 15.5a3.5 3.5 0 1 0 0-7a3.5 3.5 0 0 0 0 7'/%3E%3C/g%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 30px;
}
.mage--eye.show{
    display: inline-block;
}
.mage--eye:hover{
    color: #1C93FF;
}

.another{
    margin-bottom: 40px;
}
.another p{
    text-align: center;
    line-height: 60px;
    font-weight: bold;
}
.another-icon{
    text-align: center;
    font-size: 0;
    margin-bottom: 10px;
}
.another-icon a{
    display: inline-block;
    margin-right: 40px;
}
.another-icon a:last-child{
    margin: 0;
}
.not-member a{
    display: block;
    width: 420px;
    height: 48px;
    font-size: 20px;
    font-weight: bold;
    color: #0C2557;
    background-color: transparent;
    border: 1px solid #0C2557;
    border-radius: 5px;
    transition: all .1s .1s linear;
    margin-bottom: 20px;
    text-align: center;
    line-height: 48px;
}


/* ---------------- register ----------------*/

input[type='checkbox']{
    margin: 15px 10px;
}
label>a{
    text-decoration: underline;
    color: #1C93FF;
}
#get-new{
    margin-bottom: 30px;
}
input#get-new, input#privacy-policy{
    transform: scale(1.2);
}

/* ---------------- member_logut ----------------*/

.member-banner{
    width: 100%;
    height: 450px;
    background-image: url('../img/banner4.jpg');
    background-size: cover;
    overflow: hidden;
    background-position: center center;
    position: relative;
}
.member-banner h2{
    font-size: 48px;
    font-weight: bold;
    color: #523112;
    line-height: 1.5;
    position: absolute;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.member-banner::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    position: absolute;
    top: 0;
    left: 0;
}
.member-banner a{
    display: block;
    width: 240px;
    height: 48px;
    background-color: #D6C4A5;
    color: #0C2557;
    font-weight: bold;
    text-align: center;
    line-height: 48px;
    border: 3px solid #0C2557;
    border-radius: 5px;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}
.member-level-introduction{
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px 0;
}
.member-level-introduction h1{
    font-size: 32px;
    font-weight: bold;
    color: #D6C4A5;
    margin-bottom: 45px;
    text-align: center;
}
.member-level-introduction-center{
    color: #0C2557;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 50px;
}
.memberCard{
    width: 250px;
    height: 450px;
    box-sizing: border-box;
    background-color: #ececec;
    border-radius: 8px;
    padding: 4rem 2rem;  /* 可能需要改 */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    /* gap: 20px; */
    position: relative;
}
.memberCard>img{
    /* width: 400px; */
    width: calc(100% - 50px);
    position: absolute;
}
.memberCard>img:nth-of-type(1){
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.memberCard>img:nth-of-type(2){
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.cardIntro h3{
    font-size: 22px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}
.cardIntro ul{
    margin-top: 10px;
    white-space: nowrap;
}
.cardIntro ul li{
    margin-bottom: 10px;
    font-size: 16px;
}
.cardImg{
    width: 100%;
}
.cardImg img{
    display: block;
    margin: 0 auto;
    width: 60%;
}

/* ---------------- contact ----------------*/
.contact-wrapper{
    width: 1170px;
    margin: 80px auto;
    display: flex;
    align-items: center;
    gap: 30px;
}
.contact-table{
    width: 570px;
    height: 464px;
    border: 1px solid #D6C4A5;
    border-radius: 7px;
    padding: 30px 48px;
    box-sizing: border-box;
}
.contact-table label{
    display: block;
    color: red;
    padding-bottom: 5px;
    display: none;
}
.contact-table input,.contact-table select,.contact-table textarea{
    width: 474px;
    height: 48px;
    margin-bottom: 32px;
    outline: none;
    border: 1px solid #D6C4A5;
    border-radius: 3px;
    background-color: transparent;
    color: #fff;
    box-sizing: border-box;
    padding: 0 10px;
}
.contact-table textarea{
    height: 105px;
}
.contact-table select{
    width: 474px;
    color: #D6C4A5;
}
.contact-table select option{
    color: #333;
}
.contact-table input::placeholder,.contact-table textarea::placeholder{
    color: #D6C4A5;
}
.contact-table button{
    width: 170px;
    height: 48px;
    line-height: 24px;
    font-size: 18px;
    font-weight: bold;
    background-color: #D6C4A5;
    color: #0C2557;
    outline: none;
    border: 0px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    transition: all .2s linear;
}
.contact-table button:hover{
    background-color: #1C93FF;
    color: #F9F7F3;
}

/* ---------------- about ----------------*/
.about-banner{
    width: 100%;
    height: 438px;
    background: url('../img/about2.jpg') center center;
    background-size: cover;
    position: relative;
}
.about-banner::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    top: 0;
    left: 0;
}
.about-banner h1{
    font-size: 64px;
    font-weight: bold;
    color: #ececec;
    text-shadow: 1px 3px 7px #00000091;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.shop-info>p{
    padding: 70px;
    text-align: center;
    line-height: 30px;
    letter-spacing: 2px;
    color: #D6C4A5;
}
/* 圖文介紹 */
.shop-info section{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    background-color: #F9F7F3;
    color: #0C2557;
    border-radius: 50px;
}
.shop-info section:nth-of-type(2){
    flex-direction: row-reverse;
}
.shop-info section:last-child{
    margin-bottom: 50px;
}
.about-info{
    padding: 40px 50px 70px;
}
.about-info h2{
    font-size: 28px;
    color: #0C2557;
    letter-spacing: 1.76px;
    line-height: 60px;
}
.about-info p{
    margin: 40px 0;
    line-height: 30px;
}
.about-photo{
    flex-basis: 420px;
    flex-shrink: 0;
    background-size: cover;
    background-position: center  center;
    border-radius: 0 50px 50px 0;
}
.p1{
    background-image: url(../img/baker.jpg);
}
.p2{
    background-image: url(../img/photo.jpg);
    border-radius: 50px 0 0 50px;
}
.p3{
    background-image: url(../img/dating.jpg);
}
/* 滿版圖層 */
.about-content{
    width: 100%;
    height: 300px;
    background-image: url('../img/strawberries.jpg');
    background-size: cover;
    background-position: center  center;
    background-attachment: fixed;
    margin: 50px 0;
    position: relative;
    z-index: 1;
}
.about-content::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.about-content::after{
    content: '嚴選頂級食材';
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    display: block;
    text-align: center;
    line-height: 300px;
}
.about-content:nth-of-type(2){
    background-image: url('../img/lemons.jpg');
}
.about-content:nth-of-type(2)::after{
    content: '當季新鮮水果';
}

/* ---------------- product ----------------*/

.wrapper-products{
    max-width: 1200px;
    margin: 0 auto;
}

/* 公告 */
.product-post{
    display: flex;
    padding: 40px 0;
    gap: 30px;
}
.product-post li img{
    width: 100%;
    border-radius: 10px;
}
/* 選擇 */
.selector{
    display: flex;
    gap: 30px;
}
.selector li{
    flex-grow: 1;
    flex-basis: 300px;
}
.selector li select{
    width: 100%;
    height: 42px;
    cursor: pointer;
    outline: none;
    padding: 0 10px;
}
.selector li input{
    box-sizing: border-box;
    width: 100%;
    height: 42px;
    outline: none;
    padding: 0 10px;
}
/* 全部品項 */
.product-container{
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 30px;
}
.product-container li{
    flex-basis: calc((100% - 75px) / 4);
    box-sizing: border-box;
    text-align: center;
    color: #D6C4A5;
    position: relative;
}
.product-container li>a:nth-of-type(1){
    display: block;
    color: #D6C4A5;
    padding: 15px 0;
}
.product-container li>a:nth-of-type(1):hover{
    color: #1863DD;
}
.product-container-img{
    position: relative;
    border-radius: 7px;
}
.product-container-img img{
    width: 100%;
    border-radius: 7px;
}
.product-container-img a{
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    top: 0;
    left: 0;
    transition: all .1s ease-in;
    opacity: 0;
    border-radius: 7px;
}
.product-container-img span{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    background-color: #9E8966;
    color: #fff;
    transition: all .1s ease-in;
    opacity: 0;
    border-radius: 0 0 7px 7px;
}
.product-container-img:hover a{
    opacity: 1;
}
.product-container-img:hover span{
    opacity: 1;
}

/* 頁數 */
.pages{
    padding-bottom: 50px;
}
.pages ul{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}
.pages ul li{
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    border: 1px solid #D6C4A5;
    border-radius: 7px;
    font-weight: bold;
}
.pages ul li:last-child{
    width: 12px;
    border: 0;
}
.pages ul li a{
    display: block;
    width: 100%;
    height: 100%;
    color: #D6C4A5;
}
.pages ul li:hover{
    border-color: #9E8966;
}
.pages ul li:hover a{
    color: #9E8966;
}
.pages ul li.current{
    background-color: #D6C4A5;
    border: 0;
}
.pages ul li.current span{
    color: #0C2557;
}
.pages ul li.more{
    border: 0;
    color: #D6C4A5;
    width: 12px;
}

/* ---------------- cart_empty ----------------*/
.empty-cart{
    width: 570px;
    height: 538px;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    gap: 37px;
}
.empty-cart img{
    width: 70%;
    display: block;
    margin: 0 auto;
}
.empty-cart p{
    font-size: 24px;
    line-height: 80px;
    color: #D6C4A5;
    text-align: center;
}
.empty-cart a{
    display: block;
    width: 170px;
    height: 48px;
    background-color: #D6C4A5;
    color: #0C2557;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
    line-height: 48px;
    border-radius: 3px;
    transition: all .2s ease;
}
.empty-cart a:hover{
    background-color: #F9F7F3;
}

/* ---------------- cart ----------------*/

.wrapper-cart{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0 35px 0;
    color: #0C2557;
    box-sizing: border-box;
}

/* --- 上 --- */

/* 已經是會員 */
.cart-login-notice{
    display: flex;
    align-items: center;
    color: #F9F7F3;
}
.cart-login-notice h1{
    font-size: 20px;
    font-weight: bold;
    padding: 1rem;
}
.cart-login-notice a{
    display: block;
    padding: 10px 20px;
    text-align: center;
    background-color: #F9F7F3;
    color: #0C2557;
}



/* 商品資訊 */
.cart-product-info{
    width: 100%;
    box-sizing: border-box;
}

.buy-info h1{
    font-size: 20px;
    font-weight: bold;
    padding: 1rem;
}
.buy-info,.send-info,.buy-details{
    background-color: #F9F7F3;
    border: 3px solid #D6C4A5;
    border-radius: 10px;
}
.buy-info{
    margin-bottom: 20px;
}
.cart-product-info table{
    width: 100%;
}
.cart-title th{
    margin: 20px 0;
    border-bottom: 1px solid #D6C4A5;
}
.cart-content td{
    padding: 10px 0;
}
.cart-title th, .cart-content td {
    width: calc(90% / 5);
    text-align: center;
    vertical-align: middle;
}
.cart-title th:first-child, .cart-content td:first-child,
.cart-title th:last-child, .cart-content td:last-child {
    width: 5%;
}
.cart-title th:last-child, .cart-content td:last-child{
    padding-right: 10px;
}
.cart-content td img {
    width: 30%;
}
.cart-content td span, .cart-content td a {
    white-space: nowrap;
}
.cart-content td a{
    color: #0C2557;

}
.buy-info input{
    transform: scale(1.3);
}
.cart-number{
    padding: 0 25px;
}
.cart-reduce,.cart-plus{
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.cart-delete{   
    cursor: pointer;
}
.cart-delete i{
    font-size: 20px;
    color: #0C2557;
}
.cart-delete i:hover{
    color: #D6C4A5;
}
.cart-content:last-child{
    border-bottom: 1px solid #D6C4A5;
}
.buy-info p{
    font-size: 14px;
    padding: 1rem;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: justify;
}

/* --- 下 --- */
.cart-order-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* 寄送資訊 */
.send-info{
    width: 63%;
    display: flex;
    padding: 1rem;
}
.send-info h1,.buy-details h1{
    font-size: 20px;
    font-weight: bold;
}
.send-info-left, .send-info-right{
    width: 50%;
}
.send-info-left label{
    display: block;
    padding: 15px 0;
}
.send-info-left input,.send-info-left select{
    outline: none;
    border: 1px solid #0C2557;
    width: 80%;
    height: 36px;
    background-color: transparent;
    box-sizing: border-box;
    padding: 0 5px;
}
.send-info-right h2{
    padding-top: 15px;
}
.send-info-right h2,.send-info-right h3{
    font-weight: bold;
}
.send-info-right h3{
    font-size: 14px;
    padding: 15px 0;
}
.send-info-right p{
    font-size: 12px;
    line-height: 1.5;
    text-align: justify;
}

/* 訂單明細 */
.buy-details{
    width: 29%;
    padding: 1rem;
}

.buy-details a{
    display: block;
    padding: 10px 20px;
    text-align: center;
    background-color: #0C2557;
    color: #F9F7F3;
    transition: all .2s linear;
}
.buy-details a:hover{
    background-color: #1C93FF;
    color: #0C2557;
}
.order-item, .order-sale, .order-fare, .order-total, .point-use, .point-count{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.order-item{
    padding-top: 1rem;
}
.point-use, .point-count, .order-point h3{
    padding: 5px 0;
}
.order-point h3{
    font-weight: bold;
}
.order-fare{
    border-bottom: 1px solid #0C2557;
}
.order-point{
    background-color: #D6C4A5;
    padding: 10px;
    margin: 10px 0;
}


/* ---------------- cart2 ----------------*/

.wrapper-cart2{
    max-width: 1200px;
    margin: 0 auto;
    padding: 35px 0;
    color: #0C2557;
    display: flex;
    gap: 20px;
    box-sizing: border-box;
}


.wrapper-cart2-center{
    box-sizing: border-box;
    width: 100%;
    padding: 1.5rem;
    background-color: #F9F7F3;
    border: 3px solid #D6C4A5;
    border-radius: 10px;
}

.wrapper-cart-contain{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    gap: 20px;
}
.cart-check-profile, .cart-check-item{
    width: 50%;
}

/* 左側 */
.cart-check-profile{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cart-check-item{
    background-color: #D6C4A5;
}
.cart-check-profile h2,.cart-check-item h2{
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 25px;
    border-bottom: 1px solid #0C2557;
}
.cart-check-profile ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.cart-check-profile ul li label{
    display: block;
    padding: 8px 0;
}
.cart-check-profile ul li input,.cart-check-profile ul li textarea,.cart-check-profile ul li select{
    outline: none;
    border: 1px solid #0C2557;
    background-color: transparent;
    box-sizing: border-box;
    padding: 0 10px;
    width: 100%;
    height: 42px;
}
.cart-check-profile ul li textarea{
    height: 100px;
    padding: 10px;
}

/* 右側 */
.cart-check-item{
    box-sizing: border-box;
    padding: 1.5rem;
}
.cart-check-item table{
    width: 100%;
    white-space: nowrap;
    margin-bottom: 20px;
}
.cart-check-item table th,.cart-check-item table td{
    width: 33.3%;
    text-align: center;
}
.cart-check-item thead tr{
    border-bottom: 1px solid #0C2557;
}
.cart-check-item thead th{
    padding: 0 0.5rem;
    padding-bottom: 25px;
}
.cart-check-item tbody td,.cart-check-item tfoot td{
    padding: 0.5rem;
}
.cart-check-item tbody tr:last-child{
    border-bottom: 1px solid #0C2557;
}
.cart-check-item tfoot tr:first-child{
    border-bottom: 1px solid #0C2557;
}
.cart-check-item thead th:nth-of-type(1),.cart-check-item tbody td:nth-of-type(1),.cart-check-item tfoot td:nth-of-type(1){
    text-align: left;
}
.cart-check-item thead th:nth-of-type(3),.cart-check-item tbody td:nth-of-type(3),.cart-check-item tfoot td:nth-of-type(3){
    text-align: right;
}

.cart-login-notice2{
    margin-top: 70px;
}

.cart-login-notice2 h1{
    padding: .5rem 0;
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
}

.cart-login-notice2 ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.cart-login-notice2 ul li{
    line-height: 1.3;
}
.cart-login-notice2 i{
    font-weight: bold;
}
.cart-login-notice2 a{
    display: block;
    padding: 10px 0;
    text-align: center;
    background-color: #F9F7F3;
    color: #0C2557;
    margin: 20px 0;
}

.cart-step-button{
    margin: 20px 0;
    width: 100%;
    display: flex;
    gap: 20px;
}
.cart-step-button a{
    display: block;
    width: 50%;
    height: 42px;
    font-weight: bold;
    text-align: center;
    line-height: 42px;
    color: #F9F7F3;
    background-color: #0C2557;
    transition: all .2s linear;
}
.cart-step-button a:hover{
    background-color: #1C93FF;
    color: #0C2557;
}

/* ---------------- item ----------------*/

.wrapper-item{
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    color: #D6C4A5;
}
/* -- 商品主圖 -- */
/* 左 */
.item-show{
    padding: 50px 0;
    display: flex;
    gap: 20px;
    align-items: stretch;
}
.item-big-img{
    width: 40%;
}
.item-big-img img{
    width: 100%;
    display: block;
}

/* 中 */
.item-small-img{
    width: 10%;
    height: calc(100vh - 200px);
}
.item-small-img ul{
    display: flex;
    flex-direction: column;
    gap: 10px;

    overflow-y: auto;
    max-height: 100%;
    padding-right: 10px;
}
.item-small-img img{
    cursor: pointer;
    width: 100%;
}

/* 右 */
.item-info{
    width: 50%;
}
.item-info h1{
    font-weight: bold;
    font-size: 30px;
}
.item-info p{
    text-align: justify;
    line-height: 1.5;
    padding: 30px 0;
}
.item-info b{
    display: block;
    font-weight: bold;
    font-size: 36px;
}
.item-info i{
    display: block;
    padding: 20px 0;
}
.item-info ul{
    display: flex;
    flex-wrap: wrap;
}
.item-info ul>li{
    padding: 10px;
    border: 1px solid #D6C4A5;
    margin-right: 10px;
    cursor: pointer;
}
.item-info ul>li.choose-size{
    background-color: #D6C4A5;
    color: #0C2557;
}
.item-info ul>li:last-child{
    margin-right: 0;
}
.add-to-cart{
    padding: 30px 0;
    display: flex;
    gap: 10px;
    align-items: center;
    height: 50px;
    width: 100%;
}
.item-counter{
    flex-grow: 1;
    font-size: 0;
    display: flex;
    height: 100%;
    line-height: 50px;
    min-width: 0; 
}
.item-counter span{
    border: 1px solid #D6C4A5;
    font-size: 30px;
    cursor: pointer;
    padding: 0 20px;
    height: 100%;
    box-sizing: border-box;
    flex-shrink: 0; 
}
.item-counter span:nth-of-type(1){
    border-radius: 7px 0 0 7px;
}
.item-counter span:nth-of-type(2){
    border-radius: 0 7px 7px 0 ;
}
.item-counter input{
    color: #D6C4A5;
    background-color: transparent;
    outline: none;
    border: 1px solid #D6C4A5;
    font-size: 30px;
    text-align: center;
    height: 100%;
    box-sizing: border-box;
    min-width: 0;
}
.add-to-cart>span{
    font-weight: bold;
    font-size: 20px;
    background-color: #D6C4A5;
    color: #0C2557;
    height: 100%;
    line-height: 50px;
    padding: 0 20px;
    cursor: pointer;
    flex-basis: 140px;
    text-align: center;
    flex-shrink: 0; 
}

/* 商品BN */
.item-banner{
    width: 100%;
    font-size: 0;
}
.item-banner img{
    width: 100%;
}

/* 相關商品 */
.item-other{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 10px;
}
.item-other h2{
    font-weight: bold;
    font-size: 30px;
}
